<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask To-Do List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Flask To-Do List</h1>
    <ul>
        {% for task in todos %}
            <li class="priority-{{ task.priority }}">
                <div>
                    <span>{{ task.text }}</span>
                    <div class="task-details">
                        {% if task.due_date %}
                            <span>Due: {{ task.due_date }}</span>
                        {% endif %}
                    </div>
                </div>
                <a href="{{ url_for('delete_task', task_index=loop.index0) }}" class="delete-button">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <form action="/add" method="POST">
        <div class="form-inputs">
            <input type="text" name="task_text" placeholder="Add a new task..." required>
            <select name="priority">
                <option value="High">High Priority</option>
                <option value="Medium" selected>Medium Priority</option>
                <option value="Low">Low Priority</option>
            </select>

            <input type="date" name="due_date">
        </div>
        <button type="submit">Add Task</button>
    </form>

</body>
</html>
